{{#partial "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {{#if animals}}
                    <h3>Non-Endangered Animals</h3>
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each animals}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{type}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/animals/new">Add Non-Endangered Animal</a>

                {{else}}
                    <div class="jumbotron">
                        <h1>No Non-Endangered Animals Found</h1>
                    </div>
                {{/if}}
            </div>

            <div class="col-md-8">
                {{#if endangeredanimals}}
                    <h3>Endangered Animals</h3>
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col">Age</th>
                            <th scope="col">Health</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each endangeredanimals}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{type}}</td>
                                <td>{{age}}</td>
                                <td>{{health}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/endangeredanimals/new">Add Endangered Animal</a>

                {{else}}
                    <div class="jumbotron">
                        <h1>No Endangered Animals Found</h1>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}
