{{#partial "content"}}
        <!--Form without header-->
        <form action="/sightings/new" method="POST">
            <div class="card">
                <div class="card-block">
                    <!--Header-->
                    <div class="form-header blue-gradient">
                        <h3><i class="fa fa-user"></i> Add Sighting:</h3>
                    </div>
                    <!--Body-->
                    <!--                    <br>-->
                    <!--Body-->
                    <div class="row">
                        <div class="col-md-2"> <label for="name" >Animal's Name</label> </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <select class="mdb-select md-form md-outline colorful-select dropdown-primary" type="number" id="animal" name="animal" required>
                                    {{#each animals}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"> <label for="name" >Ranger's Name</label> </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <select class="mdb-select md-form md-outline colorful-select dropdown-primary" type="number" id="ranger" name="ranger" required>
                                    {{#each rangers}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-2"> <label for="name" >Location's Name</label> </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <select class="mdb-select md-form md-outline colorful-select dropdown-primary" type="number" id="location" name="location" required>
                                    {{#each locations}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-deep-orange">Add</button>
                    </div>
                </div>
            </div>
        </form>
{{/partial}}
{{> layout.hbs}}